<!-- <app-coures></app-coures> -->

<!-- is-favourite nam trong thuoc tinh input -->
<!-- <app-favourite [is-favourite]="post.isFavourite" (changesss)="onFavouriteChange($event)"></app-favourite>  -->
<!-- 
<app-bootstrap>
    <ng-container class="header">
        Header
    </ng-container>
    <ng-container class="body">
        Body
    </ng-container>
</app-bootstrap> -->

<!-- <input type="text" appFormatInput> -->
<!-- <app-contact-form></app-contact-form> -->

<!-- <app-signup></app-signup> -->

<!-- <app-new-course-form></app-new-course-form> -->

<app-navbar></app-navbar>   
<router-outlet></router-outlet>
